POSTGRES_DB=court-booking # same as DATABASE_URL in ./apps/api.env
POSTGRES_USER=court-booking # same as DATABASE_URL in ./apps/api.env
POSTGRES_PASSWORD=court-booking # same as DATABASE_URL in ./apps/api.env